<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.420692527351-8m8bo0mi2l7d086cg77l071jgkpv3jso</string>
			</array>
		</dict>
	</array>
	<key>GIDClientID</key>
	<string>420692527351-8m8bo0mi2l7d086cg77l071jgkpv3jso.apps.googleusercontent.com</string>
	<key>SentryDSN</key>
	<string>https://0796fc3f39f26cfc049ee65459a258dd@o4511383207870464.ingest.us.sentry.io/4511383227990016</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsLocalNetworking</key>
		<true/>
		<key>NSExceptionDomains</key>
		<dict>
			<key>wordnexus.lol</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<false/>
				<key>NSIncludesSubdomains</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>UIAppFonts</key>
	<array>
		<string>CormorantGaramond-Regular.ttf</string>
		<string>CormorantGaramond-Bold.ttf</string>
		<string>CormorantGaramond-Italic.ttf</string>
		<string>CormorantGaramond-BoldItalic.ttf</string>
		<string>ElmsSans-Regular.ttf</string>
		<string>ElmsSans-Bold.ttf</string>
		<string>ElmsSans-Italic.ttf</string>
		<string>ElmsSans-BoldItalic.ttf</string>
		<string>SpaceMono-Regular.ttf</string>
		<string>SpaceMono-Bold.ttf</string>
		<string>SpaceMono-Italic.ttf</string>
		<string>SpaceMono-BoldItalic.ttf</string>
	</array>
	<key>NSUbiquitousContainers</key>
	<dict>
		<key>iCloud.$(CFBundleIdentifier)</key>
		<dict>
			<key>NSUbiquitousContainerIsDocumentScopePublic</key>
			<true/>
			<key>NSUbiquitousContainerSupportedFolderLevels</key>
			<string>Any</string>
			<key>NSUbiquitousContainerName</key>
			<string>Books &amp; Vocab</string>
		</dict>
	</dict>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
		<string>audio</string>
	</array>
</dict>
</plist>
